<div class="container text-center" *ngIf="canLoad">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col-2">
            <app-slide></app-slide>
        </div>
        <div class="col">
            <div class="row" style="padding: 20px;">
                <div class="col">
                    <div class="data" *ngFor="let i of dataM">
                        <br>
                        <a [routerLink]="['/view-temp', 'movies', i.tempId]">
                            <img src="http://localhost:3000/user/movies/poster?id={{i._id}}" alt="" style="width: 425px; height: 600px">
                            {{i.name}}
                        </a>
                        <div class="">
                            <button type="button" name="button" *ngIf="user.listM.indexOf(i.tempId) <= -1" (click)="favMovie(i.tempId)" class="btn btn-success">Add Favorite</button>
                            <button type="button" name="button" *ngIf="user.listM.indexOf(i.tempId) > -1" (click)="unFavMovie(i.tempId)" class="btn btn-danger">Remove Favorite</button>
                        </div>
                        <br><br>
                    </div>
                </div>
                <div class="col">
                    <div class="data" *ngFor="let i of dataS">
                        <br>
                        <a [routerLink]="['/view-temp', 'series', i.tempId]">
                            <img src="http://localhost:3000/user/series/poster?id={{i._id}}" alt="" style="width: 425px; height: 600px">
                            {{i.name}}
                            Season: {{i.season}}
                            Episode: {{i.episode}}
                        </a>
                        <div class="">
                            <button type="button" name="button" *ngIf="user.listS.indexOf(i.tempId) <= -1" (click)="favSeries(i.tempId)" class="btn btn-success">Add Favorite</button>
                            <button type="button" name="button" *ngIf="user.listS.indexOf(i.tempId) > -1" (click)="unFavSeries(i.tempId)" class="btn btn-danger">Remove Favorite</button>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" name="button" *ngIf="!preButtonDisable" class="btn btn-primary" (click)="prePage()">Previse</button>
                    <button type="button" name="button" *ngIf="preButtonDisable" class="btn btn-primary" (click)="prePage()" disabled>Previse</button>
                </div>
                <div class="col">
                    {{ offset }}
                </div>
                <div class="col">
                    <button type="button" name="button" *ngIf="!nextButtonDisable" class="btn btn-primary" (click)="nextPage()">Next</button>
                    <button type="button" name="button" *ngIf="nextButtonDisable" class="btn btn-primary" (click)="nextPage()" disabled>Next</button>
                </div>
            </div>
        </div>
    </div>
</div>
