<form (ngSubmit)='onSubmit()' id="myForm">
    <label for="">Name: </label>
    <input type="text" name="name" value="" [(ngModel)]="newVideo.name">
    <label for="">Season: </label>
    <input type="text" name="name" value="" [(ngModel)]="newVideo.season">
    <label for="">Episode: </label>
    <input type="text" name="name" value="" [(ngModel)]="newVideo.episode">
    <button type="submit" name="button">Add</button>
    <div class="" *ngIf="err">
        {{error_mess}}
    </div>

    <input type="file" name="filess" (change)="fileChange($event)" />


</form>
