<div class="" *ngIf="tempType == 'movies'">
    {{videoDataM.name}}
    <br>
    <a [routerLink]="['/view-video-movies', videoDataM._id]">
    Watch Now
    </a>
</div>

<div class="" *ngIf="tempType == 'series'">
    <div class="" *ngFor="let i of videoDataS?.slice()?.reverse()">
        {{i.name}}
        <br>
        Season: {{i.season}}
        <br>
        Episode: {{i.episode}}
        <br>
        <a [routerLink]="['/view-video-series', i._id]">
            Watch Now
        </a>
        <br>
        -------
    </div>
</div>
