<div class="" *ngIf="tempType == 'movies'">
    <img src="http://localhost:3000/user/movies/poster?id={{videoDataM._id}}" alt="" style="width: 200px; height: 100px">

    {{videoDataM.name}}
    <br>
    <a [routerLink]="['/view-video-movies', videoDataM._id]">
    Watch Now
    </a>
</div>

<div class="" *ngIf="tempType == 'series'">
    <div class="" *ngFor="let i of videoDataS?.slice()?.reverse()">
        <img src="http://localhost:3000/user/series/poster?id={{i._id}}" alt="" style="width: 200px; height: 100px">
        {{i.name}}
        <br>
        Season: {{i.season}}
        <br>
        Episode: {{i.episode}}
        <br>
        <a [routerLink]="['/view-video-series', i._id]">
            Watch Now
        </a>
        <br>
        -------
    </div>
</div>
